@import '~@fluentui/react/dist/sass/References.scss';

.links .nexiButton {

  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }



}

.nexi {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  background-color: #2d32a9;
  border-radius: 9999px;
  overflow: hidden;
  color: #ffffff;
  border-color: #2d32a9;
  border-width: 1.63px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  line-height: 1.5;
  max-width:300px;
  border:solid;
}

.nexidisabled {
  border:solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  background-color: #ffffff;
  border-radius: 9999px;
  overflow: hidden;
  color: #AAAAAE;
  border-color: #AAAAAE;
  border-width: 1.63px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  line-height: 1.5;
  max-width:300px;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}